// primary
$primary: #000000;
$brown: #F2EBE1;
$gradient: linear-gradient(90deg, rgba(243,237,227,1) 0%, rgba(236,224,206,1) 100%);

$gray: #dcd7d3;
$gray_light: #faf9f8;
$text_2: #5a5957;
$text_3: #a5a099;

$black: #000000;
$white: #ffffff;

