@import '../../../styles/variables';
@import '../../../styles/mixins';

.title {
    color: $primary;
    font-size: 56px;
    font-weight: 500;
    margin: 0;
    font-family: 'Arsenal';
    line-height: 112%;

    // @media (max-width: $desktopSmall) {
    //     font-size: 36px;
    // }

    @media (max-width: $tablet) {
        font-size: 36px;
    }
}
